.third-news-card h2 {
  font-size: 18px;
  line-height: 25px;
  word-break: break-word;
  overflow-wrap: anywhere;
}
.forth-news-card h1 {
  font-size: 20px;
  font-weight: bold;
}
.forth-news-card p {
  color: #868686;
}
.fifth-news-card h1 {
  font-size: 17px;
  font-weight: bold;
}
